---
// layouts import
import Layout from "./Layout.astro";
import PostHeader from "./PostHeader.astro";

const { frontmatter } = Astro.props;

const { title, date, author, image, category } = frontmatter;
---

<Layout title={title}>
  <script define:vars={{ date }}>
    new Date(date) > new Date() && location.replace(`${location.origin}/404`);
  </script>
  <PostHeader {title} {date} {author} {image} {category} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
</Layout>
