---
// layouts import
import Layout from "./Layout.astro";
import PostHeader from "./PostHeader.astro";

const { frontmatter } = Astro.props;

const { title, date, author, image, description, category, draft } =
  frontmatter;
---

<Layout title={title}>
  <script define:vars={{ draft }}>
    draft && location.replace(`${location.origin}/is-draft`);
  </script>
  <PostHeader {title} {date} {author} {image} {category} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
</Layout>
